In [1]:
# Libraries
import pandas as pd
from pandas import DataFrame
from nltk import edit_distance
from fuzzywuzzy import fuzz
from datetime import datetime

In [2]:
# Get data
# df = pd.read_csv("cust10k.csv", delimiter="|")
file = "./affiliationstrings/affiliationstrings_ids.csv"
df = pd.read_csv(file, index_col=0)
df.columns=["entityname"]

In [3]:
df.head()

                                             entityname
id1
7927  , IBM Almaden Research Center, 650 Harry Road,...
7930                                       , IIT Bombay
7987         , University of California, San Diego, USA
5613                   28msec Inc., Zurich, Switzerland
9530                                       28msec, Inc.

In [4]:
df

                                             entityname
id1
7927  , IBM Almaden Research Center, 650 Harry Road,...
7930                                       , IIT Bombay
7987         , University of California, San Diego, USA
5613                   28msec Inc., Zurich, Switzerland
9530                                       28msec, Inc.
...                                                 ...
8434                            York University, Canada
8949                York University, Toronto ON, Canada
63                 York University, Toronto, ON, Canada
5677                  Zhejiang University, China, China
9735               Zhejiang University, Hangzhou, China

[2260 rows x 1 columns]

In [5]:
df.loc[8544]

entityname    Department of Computer Engineering, Kyungpook ...
Name: 8544, dtype: object

In [6]:
df.shape

(2260, 1)

In [7]:
def setup():
    # Add a column to store grouping
    df["GroupA"] = None
    df["GroupB"] = None
    df["GroupC"] = None
    df["GroupA_id1"] = None
    df["GroupB_id1"] = None
    df["GroupC_id1"] = None
    df["GroupA_score"] = None
    df["GroupB_score"] = None
    df["GroupC_score"] = None

In [8]:
setup() # RUN THIS FIRST!!!

In [9]:
groups = ["GroupA", "GroupB", "GroupC"]

for g in groups:
    print(f"Starting: {g}")
    print("=" * 72)
    initial = datetime.now()
    df = df.sample(frac=1)
    # indices of names for looping
    list_idx = [idx for idx in df.index]
    
    # Loop through names
    num_records = 100 # restrict for debug
    for idx in list_idx[:num_records]: # restrict for debug
    
    # for idx in list_idx:
        print("-" * 72)
        current_name = df.loc[idx]['entityname']
        print(f"idx:{idx} name to compare: {current_name}")
        
    
        if df.loc[idx][g] is None:
            idx_to_compare = list_idx[list_idx.index(idx)+1:]
            for i in idx_to_compare:
                if df.loc[i][g] is None:
                    compare_name = df.loc[i]["entityname"]
                    similarity_score = fuzz.ratio(current_name, compare_name)
                    if similarity_score > 80:
    #                     print(f"Similarity score:{similarity_score}")
                        df.loc[df.index == i, g] = current_name
                        df.loc[df.index == i, g+"_score"] = similarity_score
                        df.loc[df.index == i, g+"_id1"] = idx
        else:
            print(f"{current_name} already matched. Skipping.")
    
    
    
    final = datetime.now()
    total_time = final - initial
    print("=" * 72)
    print(f"Group {g} total time: {total_time}")

print("Saving groups...")
df.to_csv("edit_dist_dedup_groups.csv")
print("Save complete!")

Starting: GroupA
========================================================================
------------------------------------------------------------------------
idx:8876 name to compare: Department of Computer Science, University of Illinois at Chicago, Chicago, USA
------------------------------------------------------------------------
idx:1090 name to compare: UCLA Computer Science Department, Los Angeles, CA
------------------------------------------------------------------------
idx:8941 name to compare: Ecole Polytechnique Fédéral de Lausanne & Google, LTAA, Lausanne, Switzerland
------------------------------------------------------------------------
idx:4843 name to compare: UNC Chapel Hill
------------------------------------------------------------------------
idx:9141 name to compare: University of Melbourne Melbourne, Australia
------------------------------------------------------------------------
idx:7793 name to compare: INRIA Rocquencourt, 78153 Le Chesnay, France
------------------------------------------------------------------------
idx:1082 name to compare: Stevens Institute of Technology
------------------------------------------------------------------------
idx:5905 name to compare: Cornell University, Ithaca, NY, USA
------------------------------------------------------------------------
idx:5936 name to compare: Mirosoft Research India, Bangalore, India
------------------------------------------------------------------------
idx:4488 name to compare: Humboldt-Universität zu Berlin, Berlin, Germany
------------------------------------------------------------------------
idx:7082 name to compare: Centrum voor Wiskunde en Informatica, Kruislaan 413, 1098 SJ, Amsterdam, The Netherlands
------------------------------------------------------------------------
idx:9039 name to compare: Carnegie Mellon University, EPFL
------------------------------------------------------------------------
idx:7789 name to compare: Department of Computer Science, University of Toronto, Toronto, Canada; E-mail: mendel@cs.toronto.edu
------------------------------------------------------------------------
idx:9428 name to compare: Center for Comprehensive Informatics, Emory University, Atlanta, USA 30322
------------------------------------------------------------------------
idx:8429 name to compare: Microsoft Research, USA
------------------------------------------------------------------------
idx:8705 name to compare: University of Edinburgh, Scotland
------------------------------------------------------------------------
idx:8013 name to compare: Department of Computer Science, National University of Singapore, 3 Science Drive 2, 117543, Singapore
------------------------------------------------------------------------
idx:1764 name to compare: Humboldt Universität zu Berlin, Berlin, Germany
Humboldt Universität zu Berlin, Berlin, Germany already matched. Skipping.
------------------------------------------------------------------------
idx:257 name to compare: Boston University
------------------------------------------------------------------------
idx:2249 name to compare: University of Texas at Arlington
------------------------------------------------------------------------
idx:3905 name to compare: Chutney Technologies
------------------------------------------------------------------------
idx:2821 name to compare: Portland State University
------------------------------------------------------------------------
idx:7703 name to compare: Software AG; e-mail: Thorsten.Fiebig@softwareag.com
------------------------------------------------------------------------
idx:7428 name to compare: Kyoto University, Yoshida-Honmachi, Sakyo-ku, Kyoto, Japan
------------------------------------------------------------------------
idx:8961 name to compare: Università Roma Tre
------------------------------------------------------------------------
idx:8350 name to compare: The Penn State University, USA
------------------------------------------------------------------------
idx:6847 name to compare: Department of Computer Science and Engineering, University of Washington, Seattle, WA
------------------------------------------------------------------------
idx:287 name to compare: University of Wisconsin, Madison
------------------------------------------------------------------------
idx:5491 name to compare: Hebrew University, Jerusalem, Israel
------------------------------------------------------------------------
idx:2872 name to compare: CNAM, France
------------------------------------------------------------------------
idx:2331 name to compare: Boston University, Boston, MA
------------------------------------------------------------------------
idx:8165 name to compare: Department of Computer Science & Electrical Engineering, University of Maryland, USA
------------------------------------------------------------------------
idx:6957 name to compare: Computer Science Department, Columbia University
------------------------------------------------------------------------
idx:8323 name to compare: Technion---Israel Institute of Technology, Haifa, Israel
------------------------------------------------------------------------
idx:7970 name to compare: University of California, Los Angeles, California
------------------------------------------------------------------------
idx:2687 name to compare: INRIA-Orsay, France
------------------------------------------------------------------------
idx:9791 name to compare: University of Maryland, College Park, MD 20
------------------------------------------------------------------------
idx:8289 name to compare: Microsoft Research, Mountain View, CA
------------------------------------------------------------------------
idx:8392 name to compare: University of Dortmund, Dortmund, Germany
------------------------------------------------------------------------
idx:4694 name to compare: Indiana University at Bloomington
------------------------------------------------------------------------
idx:5621 name to compare: School of Computing, National University of Singapore, Singapore, Singapore
------------------------------------------------------------------------
idx:9055 name to compare: Microsoft Research Silicon Valley, Mountain View, CA
Microsoft Research Silicon Valley, Mountain View, CA already matched. Skipping.
------------------------------------------------------------------------
idx:869 name to compare: Mathematics & Computing Technology, Boeing Phantom Works, Seattle, Washington
------------------------------------------------------------------------
idx:8021 name to compare: Microsoft Research, One Microsoft Way, WA 98052, Redmond, USA
------------------------------------------------------------------------
idx:467 name to compare: Technische Universität München, Germany
------------------------------------------------------------------------
idx:7324 name to compare: SoC, National University of Singapore
------------------------------------------------------------------------
idx:4570 name to compare: University of Texas at Arlington, Arlington, TX
University of Texas at Arlington, Arlington, TX already matched. Skipping.
------------------------------------------------------------------------
idx:1143 name to compare: Institut förmatik, TU-München, Orleansstraße, München, Germany
------------------------------------------------------------------------
idx:2091 name to compare: Department of Computer Science & Department of Electrical and Computer Engineering, University of Toronto
------------------------------------------------------------------------
idx:7613 name to compare: George Mason Univ., Fairfax. VA
------------------------------------------------------------------------
idx:9566 name to compare: Yahoo!, Inc.
------------------------------------------------------------------------
idx:542 name to compare: Stanford
------------------------------------------------------------------------
idx:2401 name to compare: Google Inc., Mountain View, CA
------------------------------------------------------------------------
idx:8162 name to compare: Microsoft Corporation, USA

------------------------------------------------------------------------
idx:1180 name to compare: University of Konstanz, Konstanz, Germany
------------------------------------------------------------------------
idx:1640 name to compare: Database Research Group, Swiss Federal Institute of Technology (ETH), Zurich, Switzerland
------------------------------------------------------------------------
idx:9708 name to compare: Università della Basilicata -- Potenza, Italy
------------------------------------------------------------------------
idx:8739 name to compare: Pisa KDD Laboratory, ISTI---CNR, Pisa, Italy 56124
------------------------------------------------------------------------
idx:2203 name to compare: The Hebrew University of Jerusalem, Edmond J. Safra Campus Jerusalem, Israel
------------------------------------------------------------------------
idx:882 name to compare: San Diego Supercomputer Center, University of California, San Diego, CA
------------------------------------------------------------------------
idx:277 name to compare: Northeastern University, Boston, MA
Northeastern University, Boston, MA already matched. Skipping.
------------------------------------------------------------------------
idx:6220 name to compare: University of California, Irvine, Irvine, California, USA
------------------------------------------------------------------------
idx:320 name to compare: Hewlett-Packard Company, Tomball Parkway, Houston, TX
------------------------------------------------------------------------
idx:5715 name to compare: The University of Melbourne, Melbourne, Australia
The University of Melbourne, Melbourne, Australia already matched. Skipping.
------------------------------------------------------------------------
idx:7813 name to compare: Università di Roma “La Sapienza”, Dipartimento di Informatica e Sistemistica, Via Salaria 113, 00198 Roma, Italy; E-mail: mecella@dis.uniromA1.it
------------------------------------------------------------------------
idx:6673 name to compare: Department of Mathematics and Computer Science, University of Marburg, 35032 Marburg, Germany
------------------------------------------------------------------------
idx:5656 name to compare: IBM T. J. Watson Research Center, Westchester, NY, USA
------------------------------------------------------------------------
idx:896 name to compare: Carnegie Mellon University, Pittsburgh, Pennsylvania
------------------------------------------------------------------------
idx:5291 name to compare: National University of Singapore, Singapore, Singapore
National University of Singapore, Singapore, Singapore already matched. Skipping.
------------------------------------------------------------------------
idx:1456 name to compare: AT&T Labs-Research, NJ
------------------------------------------------------------------------
idx:5997 name to compare: Princeton University, Princeton, NJ, USA
------------------------------------------------------------------------
idx:6210 name to compare: IBM China Research Laboratory, Beijing, China
------------------------------------------------------------------------
idx:296 name to compare: University of Illinois
------------------------------------------------------------------------
idx:6320 name to compare: Oracle Corporation, Redwood City, CA, USA
------------------------------------------------------------------------
idx:7827 name to compare: Database Systems R& D Center, University of Florida, Gainesville, FL 32611––6125, USA; E-mail: su@cise.ufl.edu
------------------------------------------------------------------------
idx:8889 name to compare: Teradata Division, NCR Corporation, Los Angeles, USA 90245
------------------------------------------------------------------------
idx:6150 name to compare: IBM Almaden Research Center, San Jos, CA, USA
------------------------------------------------------------------------
idx:4158 name to compare: IBM Toronto Lab, Toronto, Canada
------------------------------------------------------------------------
idx:946 name to compare: Aalborg University
------------------------------------------------------------------------
idx:8983 name to compare: Univ. of California, Berkeley EECS
------------------------------------------------------------------------
idx:1103 name to compare: Department of Computer Science, Darmstadt University of Technology
------------------------------------------------------------------------
idx:5516 name to compare: Nanyang Technological University, Singapore, Singapore
------------------------------------------------------------------------
idx:428 name to compare: University of Toronto, Toronto, Canada
------------------------------------------------------------------------
idx:9399 name to compare: Florida State University, Tallahassee, FL
------------------------------------------------------------------------
idx:8069 name to compare: IBM Almaden Research Center, USA
IBM Almaden Research Center, USA already matched. Skipping.
------------------------------------------------------------------------
idx:3067 name to compare: U. C. Santa Cruz
------------------------------------------------------------------------
idx:7434 name to compare: IBM, San Jose, California
------------------------------------------------------------------------
idx:7671 name to compare: Department of Computer Science, University of Wisconsin-Madison, 1210 West Dayton Street, Madison, WI 53706-1685, USA; e-mail: &lcub;dewitt, markhill&rcub;&commat;cs.wisc.edu
------------------------------------------------------------------------
idx:7963 name to compare: Institute of Computing, University of Campinas, Caixa Postal 6176, SP, 13081-970, Campinas, Brazil
------------------------------------------------------------------------
idx:8449 name to compare: University of British Columbia, Vancouver, B.C., Canada
------------------------------------------------------------------------
idx:8950 name to compare: University of Toronto, Toronto ON, Canada
University of Toronto, Toronto ON, Canada already matched. Skipping.
------------------------------------------------------------------------
idx:4406 name to compare: Univ. of Washington, Seattle, WA
------------------------------------------------------------------------
idx:1810 name to compare: Computer Science Department, Hong Kong Univ. of Science and Technology, Hong Kong
------------------------------------------------------------------------
idx:6607 name to compare: INRIA, BP 105, 78153 Le Chesnay, France
------------------------------------------------------------------------
idx:5518 name to compare: Max-Planck-Institut fü Informatik, Saarbrücken, Germany
------------------------------------------------------------------------
idx:1601 name to compare: Software AG, Darmstadt, Germany
------------------------------------------------------------------------
idx:9779 name to compare: University of California, San Diego, CA
------------------------------------------------------------------------
idx:11 name to compare: Microsoft Research
Microsoft Research already matched. Skipping.
------------------------------------------------------------------------
idx:799 name to compare: BEA Systems, Inc., San Jose, CA
------------------------------------------------------------------------
idx:5206 name to compare: CWI, Amsterdam, Netherlands
========================================================================
Group GroupA total time: 0:00:52.297330
Starting: GroupB
========================================================================
------------------------------------------------------------------------
idx:920 name to compare: Department of Electronic Engineering, National Taiwan University of Science and Technology, Taipei, Taiwan and Institute of Information Science, Academia Sinica, Taipei, Taiwan
------------------------------------------------------------------------
idx:2134 name to compare: Laboratoire LIMOS, ISIMA, Clermont-Ferrand, France
------------------------------------------------------------------------
idx:5803 name to compare: MIT, Cambridge, MA, USA
------------------------------------------------------------------------
idx:2149 name to compare: University of Waterloo, Waterloo, Ontario, Canada

------------------------------------------------------------------------
idx:5664 name to compare: Syracuse University, Syracuse, NY, USA
------------------------------------------------------------------------
idx:2271 name to compare: University of Michigan, Ann Arbor, Michigan
------------------------------------------------------------------------
idx:8795 name to compare: Computer and Information Science and Engineering, University of Florida, Gainesville, USA 32611
------------------------------------------------------------------------
idx:5403 name to compare: HKUST, Hong Kong, China
------------------------------------------------------------------------
idx:4967 name to compare: Xerox Research Centre, France
------------------------------------------------------------------------
idx:479 name to compare: Columbia University, New York, NY
------------------------------------------------------------------------
idx:8128 name to compare: Amazon.com, Seattle
------------------------------------------------------------------------
idx:1353 name to compare: D.E.I.S. - Università della Calabria, Rende, Italy
------------------------------------------------------------------------
idx:6523 name to compare: Data Eng.Lab, Dept.of Informatic, Aristotic University, of Thessaloniki, GR-54006 Greece
------------------------------------------------------------------------
idx:2305 name to compare: University of California Los Angeles, Los Angeles, CA
------------------------------------------------------------------------
idx:7580 name to compare: Compaq Systems Research Center
------------------------------------------------------------------------
idx:38 name to compare: IBM Almaden Research Center
------------------------------------------------------------------------
idx:6510 name to compare: INRIA Rooquencourt, BP 105,78153, Le Chesnay Cedex, France
------------------------------------------------------------------------
idx:4168 name to compare: AT & T Labs-Research, Florham Park, NJ
------------------------------------------------------------------------
idx:9792 name to compare: Carnegie Mellon University, 5000 Forbes Ave., Pittsburgh, PA 15213, USA
------------------------------------------------------------------------
idx:7807 name to compare: Department of Informatics, Aristotle University of Thessaloniki, Greece; e-mail: &lcub;alex,manolopo&rcub;&commat;delab.csd.auth.gr
------------------------------------------------------------------------
idx:1278 name to compare: Humboldt-Universität und Fachhochschule für Technik und Wirtschaft, Germany
------------------------------------------------------------------------
idx:3491 name to compare: NEC Research Institute, Princeton, NJ, USA
------------------------------------------------------------------------
idx:2625 name to compare: ETH Zurich, CH
------------------------------------------------------------------------
idx:6026 name to compare: Columbia University, New York, NY, USA
Columbia University, New York, NY, USA already matched. Skipping.
------------------------------------------------------------------------
idx:1686 name to compare: State University of New York at Buffalo
------------------------------------------------------------------------
idx:2485 name to compare: University of Texas at Austin
------------------------------------------------------------------------
idx:2611 name to compare: Siemens Corporate Research
------------------------------------------------------------------------
idx:9305 name to compare: School of Information Technology and Electrical Engineering, The University of Queensland, Brisbane, Australia
------------------------------------------------------------------------
idx:350 name to compare: IBM Silicon Valley Lab, San Jose, CA
------------------------------------------------------------------------
idx:7036 name to compare: IBM Toronto Lab, Markham, Ontario, Canada
------------------------------------------------------------------------
idx:705 name to compare: Computer Science Dept., SUNY at Binghamton
------------------------------------------------------------------------
idx:3078 name to compare: University of Illinois at Chicago
------------------------------------------------------------------------
idx:4456 name to compare: IBM Silicon Valley Lab, San Jose CA
IBM Silicon Valley Lab, San Jose CA already matched. Skipping.
------------------------------------------------------------------------
idx:6496 name to compare: Department of Computer Science, University of British Columbia, Vancouver, BC V6T 1Z4 Canada
------------------------------------------------------------------------
idx:4832 name to compare: UC Davis
------------------------------------------------------------------------
idx:2863 name to compare: Univ. Versailles-Saint-Quentin, France
------------------------------------------------------------------------
idx:7466 name to compare: Computer Science Division, UC Berkeley, Berkeley, CA
------------------------------------------------------------------------
idx:7970 name to compare: University of California, Los Angeles, California
------------------------------------------------------------------------
idx:8410 name to compare: Georgia State University, Atlanta, GA
------------------------------------------------------------------------
idx:805 name to compare: Hewlett-Packard Company, Houston, TX
------------------------------------------------------------------------
idx:12 name to compare: Columbia University
------------------------------------------------------------------------
idx:9432 name to compare: Google, Inc., Mountain View, USA 94043
------------------------------------------------------------------------
idx:743 name to compare: University of Illinois at Urbana-Champaign, IL
------------------------------------------------------------------------
idx:6686 name to compare: Dept. of Computer Science, Univ. of Manchester, United Kingdom
------------------------------------------------------------------------
idx:9524 name to compare: IBM Software Group
------------------------------------------------------------------------
idx:1503 name to compare: Comp. Sci. Div, Dept EECS, UC Berkeley, Berkeley, CA
------------------------------------------------------------------------
idx:4095 name to compare: University of Munich, Munich, Germany
------------------------------------------------------------------------
idx:8737 name to compare: IBM T.J. Watson Research Center, Yorktown Heights, USA
------------------------------------------------------------------------
idx:7579 name to compare: Stanford Univ., Stanford, CA
------------------------------------------------------------------------
idx:3503 name to compare: Informix Software Inc, Los Gatos, USA
------------------------------------------------------------------------
idx:7894 name to compare: Department of Computer Science, University of Helsinki, Helsinki, Finland
------------------------------------------------------------------------
idx:8504 name to compare: Informatics Laboratory, Agricultural University of Athens, Greece
------------------------------------------------------------------------
idx:81 name to compare: University of Waterloo, Waterloo, ON, Canada
University of Waterloo, Waterloo, ON, Canada already matched. Skipping.
------------------------------------------------------------------------
idx:6402 name to compare: Simon Fraser University, Vancouver, Canada
------------------------------------------------------------------------
idx:2840 name to compare: The University of New South Wales, Sydney, Australia
------------------------------------------------------------------------
idx:7146 name to compare: Oracle Corporation, NEDC, Nashua NH
------------------------------------------------------------------------
idx:9406 name to compare: Universidad de Chile, Chile
------------------------------------------------------------------------
idx:1778 name to compare: Instituto de Informática, Universidade Federal do Rio Grande do Sul - UFRGS, Brazil
------------------------------------------------------------------------
idx:3451 name to compare: Surromed, Palo Alto, CA, USA

------------------------------------------------------------------------
idx:9231 name to compare: The Chinese University of Hong Kong, New Territories, Hong Kong
------------------------------------------------------------------------
idx:4737 name to compare: IBM Toronto Development Laboratory, ON, Canada
------------------------------------------------------------------------
idx:7655 name to compare: Institut für Informatik, Universität Freiburg, Freiburg, Germany
------------------------------------------------------------------------
idx:8661 name to compare: Department of EECS, University of Michigan, Ann Arbor, USA
------------------------------------------------------------------------
idx:2259 name to compare: Univ. Santa Clara
------------------------------------------------------------------------
idx:746 name to compare: The Ohio State University
------------------------------------------------------------------------
idx:532 name to compare: Department of EECS, University of Michigan
Department of EECS, University of Michigan already matched. Skipping.
------------------------------------------------------------------------
idx:7847 name to compare: University Paris 6, LIP6 Laboratory, Paris, France; E-mail: patrick.valduriez@lip6.fr
------------------------------------------------------------------------
idx:2706 name to compare: IBM China Research Laboratory, ShangDi, Beijing, China
------------------------------------------------------------------------
idx:563 name to compare: University of Edinburgh
------------------------------------------------------------------------
idx:8306 name to compare: University of Toronto, Ont, Canada
------------------------------------------------------------------------
idx:3864 name to compare: Siebel Systems, San Mateo, CA, USA
------------------------------------------------------------------------
idx:9794 name to compare: Intel Research, Berkeley, CA, USA
------------------------------------------------------------------------
idx:7898 name to compare: University of Münster, Münster, Germany
------------------------------------------------------------------------
idx:1336 name to compare: T. J. Watson Resch. Ctr.
------------------------------------------------------------------------
idx:7166 name to compare: Oracle Corporation, CA
------------------------------------------------------------------------
idx:3102 name to compare: SAP AG, Dietmar-Hopp-Allee, Walldorf, Germany
------------------------------------------------------------------------
idx:1309 name to compare: Dept. of Computer Science and Engg., I.I.T., Bombay
------------------------------------------------------------------------
idx:6535 name to compare: Université Paris 9 (Dauphine), Pl. du Mal de Lattre, Paris 75016, France
------------------------------------------------------------------------
idx:6481 name to compare: Microsoft Research, One MicrosoftWay, Redmond, WA
------------------------------------------------------------------------
idx:8170 name to compare: Department of Computer Science & Engineering, University of California Riverside, USA
------------------------------------------------------------------------
idx:3856 name to compare: University of California at Riverside
------------------------------------------------------------------------
idx:3279 name to compare: PUC Chile
------------------------------------------------------------------------
idx:299 name to compare: The MITRE Corporation
------------------------------------------------------------------------
idx:4046 name to compare: AT & T Labs-Research
------------------------------------------------------------------------
idx:6905 name to compare: Oracle Corporation
Oracle Corporation already matched. Skipping.
------------------------------------------------------------------------
idx:7131 name to compare: Middle East Technical University (METU), 06531 Ankara Turkiye
------------------------------------------------------------------------
idx:8323 name to compare: Technion---Israel Institute of Technology, Haifa, Israel
------------------------------------------------------------------------
idx:2687 name to compare: INRIA-Orsay, France
------------------------------------------------------------------------
idx:5225 name to compare: Yahoo! Research, Berkeley, CA
------------------------------------------------------------------------
idx:7877 name to compare: Large Scale Distributed Information Systems Lab, Computer Science Department, University of Georgia, Athens, GA 30602-7404, USA; e-mail: amit@cs.uga.edu
------------------------------------------------------------------------
idx:1874 name to compare: Verity Inc., Sunnyvale
------------------------------------------------------------------------
idx:5174 name to compare: Yahoo! Research, CA
------------------------------------------------------------------------
idx:1704 name to compare: Johns Hopkins University
------------------------------------------------------------------------
idx:2626 name to compare: RWTH Aachen University, Aachen, Germany
------------------------------------------------------------------------
idx:8129 name to compare: Department of Computer Science and Engineering, University of California, USA
Department of Computer Science and Engineering, University of California, USA already matched. Skipping.
------------------------------------------------------------------------
idx:180 name to compare: i-TV-T AG, Unterföhring
------------------------------------------------------------------------
idx:369 name to compare: University of Sydney, NSW, Australia
------------------------------------------------------------------------
idx:5900 name to compare: Microsoft Corp., Redmond, WA, USA
------------------------------------------------------------------------
idx:8853 name to compare: IBM Almaden Research, Almaden, CA
------------------------------------------------------------------------
idx:2363 name to compare: The Chinese University of Hong Kong, Hong Kong
The Chinese University of Hong Kong, Hong Kong already matched. Skipping.
========================================================================
Group GroupB total time: 0:00:53.837609
Starting: GroupC
========================================================================
------------------------------------------------------------------------
idx:494 name to compare: Arizona State University, Arizona
------------------------------------------------------------------------
idx:949 name to compare: ISLA, University of Amsterdam, The Netherlands
------------------------------------------------------------------------
idx:4161 name to compare: IBM Toronto
------------------------------------------------------------------------
idx:3662 name to compare: Surromed Inc
------------------------------------------------------------------------
idx:2637 name to compare: School of Computer and Communication Sciences, Switzerland
------------------------------------------------------------------------
idx:7712 name to compare: University of British Columbia, 201-2366 Main Mall, Vancouver, BC V6T 1Z4, Canada; e-mail: laks@cs.ubc.ca
------------------------------------------------------------------------
idx:6411 name to compare: Google, Inc., Mountain View, CA, USA
------------------------------------------------------------------------
idx:8165 name to compare: Department of Computer Science & Electrical Engineering, University of Maryland, USA
------------------------------------------------------------------------
idx:7328 name to compare: INRIA&Tel-Aviv U.
------------------------------------------------------------------------
idx:310 name to compare: i-TV-T AG, Germany
------------------------------------------------------------------------
idx:5772 name to compare: Stanford University, Stanford, CA, USA
------------------------------------------------------------------------
idx:6254 name to compare: IBM T. J. Watson Research Center, Yorktown Heights, NY, USA
------------------------------------------------------------------------
idx:2835 name to compare: UC San Diego
------------------------------------------------------------------------
idx:5664 name to compare: Syracuse University, Syracuse, NY, USA

------------------------------------------------------------------------
idx:8769 name to compare: CERIAS and Department of Computer Science, Purdue University, West Lafayette, USA
------------------------------------------------------------------------
idx:3126 name to compare: University of Ioannina, Greece
------------------------------------------------------------------------
idx:736 name to compare: Brown University
------------------------------------------------------------------------
idx:3524 name to compare: University of Florida, Gainesville, USA
------------------------------------------------------------------------
idx:2218 name to compare: Oracle
------------------------------------------------------------------------
idx:9354 name to compare: NICTA, University of Melbourne, Parkville, Australia
------------------------------------------------------------------------
idx:2838 name to compare: University of Maryland, College Park
------------------------------------------------------------------------
idx:4854 name to compare: Pohang University of Science and Technology
------------------------------------------------------------------------
idx:6385 name to compare: University of Oxford, Oxford, United Kingdom
------------------------------------------------------------------------
idx:505 name to compare: NEC Laboratories America, Cupertino, CA
------------------------------------------------------------------------
idx:8814 name to compare: University of California, Irvine, USA
------------------------------------------------------------------------
idx:1009 name to compare: Brandeis University
------------------------------------------------------------------------
idx:5232 name to compare: University of Edinburgh & Bell Laboratories, Edinburgh, Scotland UK
------------------------------------------------------------------------
idx:3412 name to compare: New York University
------------------------------------------------------------------------
idx:425 name to compare: Technion - IIT, Haifa, Israel
------------------------------------------------------------------------
idx:9413 name to compare: Cedric, CNAM, Paris, France
------------------------------------------------------------------------
idx:9496 name to compare: DII, Univ. di Modena e Reggio Emilia, Modena, Italy
------------------------------------------------------------------------
idx:4516 name to compare: Fudan University, China
------------------------------------------------------------------------
idx:2900 name to compare: IBM Almaden RC, San Jose, CA
------------------------------------------------------------------------
idx:7038 name to compare: University of Arizona
------------------------------------------------------------------------
idx:2095 name to compare: CERIA Lab., Université Paris Dauphine, France
------------------------------------------------------------------------
idx:2688 name to compare: Tel Aviv University, Israel
------------------------------------------------------------------------
idx:4486 name to compare: Univ. Politecnica de Madrid
------------------------------------------------------------------------
idx:7917 name to compare: Department of Computer Science, Brown University, RI 02912, Providence, USA
------------------------------------------------------------------------
idx:4838 name to compare: KAIST
------------------------------------------------------------------------
idx:630 name to compare: Computer Science Department, Stanford University, Stanford, CA
------------------------------------------------------------------------
idx:1795 name to compare: EECS Department, UC Berkeley
------------------------------------------------------------------------
idx:3858 name to compare: Korea Advanced Institute of Science and Technology
------------------------------------------------------------------------
idx:3204 name to compare: Yahoo! Labs
------------------------------------------------------------------------
idx:6538 name to compare: Bell Labs.
------------------------------------------------------------------------
idx:8532 name to compare: University of Toronto, Toronto, Ontario
------------------------------------------------------------------------
idx:8 name to compare: Purdue University, West Lafayette, IN
------------------------------------------------------------------------
idx:2226 name to compare: The University of Hong Kong
------------------------------------------------------------------------
idx:8500 name to compare: NICTA Victoria Laboratory, Department of Computer Science and Software Engineering, University of Melbourne, Australia
------------------------------------------------------------------------
idx:2149 name to compare: University of Waterloo, Waterloo, Ontario, Canada
------------------------------------------------------------------------
idx:101 name to compare: University of Michigan, Ann Arbor, MI
------------------------------------------------------------------------
idx:6754 name to compare: Computer Science Dept., Columbia University
------------------------------------------------------------------------
idx:3614 name to compare: Lawrence Berkeley National Laboratory, Berkeley, CA, USA
------------------------------------------------------------------------
idx:840 name to compare: Department of Systems Engineering and Engineering Management, The Chinese Univ. of Hong Kong, Hong Kong, China
------------------------------------------------------------------------
idx:604 name to compare: Duke University
------------------------------------------------------------------------
idx:4694 name to compare: Indiana University at Bloomington
------------------------------------------------------------------------
idx:4342 name to compare: Institute of Remote Sensing Applications, Chinese Academy of Sciences, Beijing
------------------------------------------------------------------------
idx:32 name to compare: Case Western Reserve University, Cleveland, OH
------------------------------------------------------------------------
idx:4875 name to compare: University of Texas at Austin, Austin, TX
------------------------------------------------------------------------
idx:9505 name to compare: Department of Computer Science and Engineering, Wright State University, Dayton, USA
------------------------------------------------------------------------
idx:545 name to compare: Virginia
------------------------------------------------------------------------
idx:8652 name to compare: Microsoft Research, Cambridge, UK CB3 0FB
------------------------------------------------------------------------
idx:7930 name to compare: , IIT Bombay
------------------------------------------------------------------------
idx:7648 name to compare: University of Mons-Hainaut, Mons, Belgium
------------------------------------------------------------------------
idx:6386 name to compare: Cornell University, Ithaca, USA
------------------------------------------------------------------------
idx:6957 name to compare: Computer Science Department, Columbia University
Computer Science Department, Columbia University already matched. Skipping.
------------------------------------------------------------------------
idx:9492 name to compare: N4 02A-07, Division of Information Systems, School of Computer Engineering, Nanyang Technological University, Singapore, Singapore 639798
------------------------------------------------------------------------
idx:9603 name to compare: U. C. Berkeley
------------------------------------------------------------------------
idx:6649 name to compare: The University of Texas at Arlington, CSE, 416 Yates Street, P.O.Box 19015, Arlington, TX
------------------------------------------------------------------------
idx:8856 name to compare: Yahoo&excl; Research, Sunnyvale, CA
------------------------------------------------------------------------
idx:2176 name to compare: Computer Science and Artificial Intelligence Lab., Massachusetts Institute of Technology
------------------------------------------------------------------------
idx:1982 name to compare: University of California, Santa Barbara

------------------------------------------------------------------------
idx:1686 name to compare: State University of New York at Buffalo
------------------------------------------------------------------------
idx:6990 name to compare: Japan Advanced Institute of Science and Technology
Japan Advanced Institute of Science and Technology already matched. Skipping.
------------------------------------------------------------------------
idx:7967 name to compare: The University of British Columbia, Vancouver, BC, Canada
------------------------------------------------------------------------
idx:8255 name to compare: Université Paris Dauphine, Paris, France
------------------------------------------------------------------------
idx:1350 name to compare: Laboratory for Foundations of Computer Science, University of Edinburgh, Edinburgh, UK
------------------------------------------------------------------------
idx:8861 name to compare: IBM Research, Yorktown Heights, NY
------------------------------------------------------------------------
idx:3034 name to compare: EPFL
------------------------------------------------------------------------
idx:7910 name to compare: Department of Computer Sciences, University of Wisconsin-Madison, 1210 W. Dayton Street, WI 53706, Madison, USA
------------------------------------------------------------------------
idx:4837 name to compare: Haifa University
------------------------------------------------------------------------
idx:7565 name to compare: Univ. of California, San Diego La Jolla, CA
------------------------------------------------------------------------
idx:733 name to compare: School of Mechanical Engineering, Purdue University, West Lafayette, Indiana
------------------------------------------------------------------------
idx:7765 name to compare: University of California, Berkeley, Computer Science Division, Berkeley, CA 94720-1776, USA; E-mail: {rshankar,bhaskar,jmh}@cs.berkeley.edu
------------------------------------------------------------------------
idx:597 name to compare: David R. Cheriton School of Computer Science, University of Waterloo, Waterloo, Ontario, Canada
------------------------------------------------------------------------
idx:352 name to compare: Microsoft Corporation, One Microsoft Way, Redmond, Washington
------------------------------------------------------------------------
idx:6353 name to compare: New York University, New York, NY, USA
------------------------------------------------------------------------
idx:9266 name to compare: Yahoo! Research, New York, USA 10018
------------------------------------------------------------------------
idx:7958 name to compare: Department of Computer Sciences, Purdue University, 250 N. University Street, IN 47907, West Lafayette, USA
------------------------------------------------------------------------
idx:8024 name to compare: AT&T Labs--Research, USA
------------------------------------------------------------------------
idx:199 name to compare: University of Michigan, MI
University of Michigan, MI already matched. Skipping.
------------------------------------------------------------------------
idx:887 name to compare: Department of Computer Science, Zhejiang University, HangZhou, P.R.China
------------------------------------------------------------------------
idx:6156 name to compare: AT&T Labs, Florham Park, NJ, USA
------------------------------------------------------------------------
idx:430 name to compare: University of Trento, Trento, Italy
University of Trento, Trento, Italy already matched. Skipping.
------------------------------------------------------------------------
idx:632 name to compare: University of Texas
------------------------------------------------------------------------
idx:128 name to compare: Microsoft
------------------------------------------------------------------------
idx:2188 name to compare: Department of Computer Engineering, Bilkent University, Ankara, Turkey
------------------------------------------------------------------------
idx:6764 name to compare: AT&T Labs, Research
------------------------------------------------------------------------
idx:6042 name to compare: Microsoft Research, Redmond, USA
------------------------------------------------------------------------
idx:1013 name to compare: M.I.T.
------------------------------------------------------------------------
idx:1342 name to compare: IBM T. J. Watson Research Center, Yorktown, NY
IBM T. J. Watson Research Center, Yorktown, NY already matched. Skipping.
========================================================================
Group GroupC total time: 0:00:54.846790
Saving groups...
Save complete!

In [12]:
group = "GroupA"
print(f"Number of matches: {df[group].value_counts().sum()}")
print(f"Number of groups: {len(df[group].unique())}")
df[group].value_counts()

Number of matches: 285
Number of groups: 70

University of California, San Diego, CA                                                                      18
University of Wisconsin, Madison                                                                             15
Department of Computer Science and Engineering, University of Washington, Seattle, WA                        14
IBM Almaden Research Center, San Jos, CA, USA                                                                13
AT&T Labs-Research, NJ                                                                                       12
                                                                                                             ..
Department of Computer Science, Darmstadt University of Technology                                            1
Nanyang Technological University, Singapore, Singapore                                                        1
Department of Computer Science & Electrical Engineering, University of Maryland, USA                          1
Department of Computer Science & Department of Electrical and Computer Engineering, University of Toronto     1
Indiana University at Bloomington                                                                             1
Name: GroupA, Length: 69, dtype: int64

In [15]:
df.loc[df["entityname"].str.contains("AT&T")]

,entityname,GroupA,GroupB,GroupC,GroupA_id1,GroupB_id1,GroupC_id1,GroupA_score,GroupB_score,GroupC_score
id1,,,,,,,,,,
8024,"AT&T Labs--Research, USA","AT&T Labs-Research, NJ",AT & T Labs-Research,None,1456,4046,None,87,82,None
6156,"AT&T Labs, Florham Park, NJ, USA",None,None,None,None,None,None,None,None,None
6764,"AT&T Labs, Research","AT&T Labs-Research, NJ",AT & T Labs-Research,None,1456,4046,None,83,87,None
7105,"AT&T Research Laboratory, Florham Park, NJ",None,None,None,None,None,None,None,None,None
103,AT&T Labs-Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,90,95,86
7429,AT&T Labs -- Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,84,88,84
1072,"AT&T Labs Research, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,95,None
7659,"AT&T Labs---Research, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,95,None
6367,"AT&T Labs Inc. - Research, Florham Park, NJ, USA",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,84,None
2964,"AT&T Labs-Research, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,97,None
5996,"AT&T Labs Research, Florham Park, NJ, USA",None,"AT & T Labs-Research, Florham Park, NJ","AT&T Labs, Florham Park, NJ, USA",None,4168,6156,None,89,88
7624,AT&T Labs?Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,85,89,81
454,AT&T Labs Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,85,89,81
3117,"AT&T Labs--Research, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,96,None
4264,"AT&T Labs - Research, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,95,None
7699,"AT&T Labs Research, Florham Park, N.J., USA; e...",None,None,None,None,None,None,None,None,None
9240,"AT&T Labs, Florham Park, NJ",None,"AT & T Labs-Research, Florham Park, NJ","AT&T Labs, Florham Park, NJ, USA",None,4168,6156,None,83,92
8948,"AT&T Labs-Research, Florham Park NJ",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,96,None
5773,"AT&T Labs-Research, New Jersey, NJ, USA",None,None,None,None,None,None,None,None,None
3435,AT&T,None,None,None,None,None,None,None,None,None
1456,"AT&T Labs-Research, NJ",None,AT & T Labs-Research,"AT&T Labs--Research, USA",None,4046,8024,None,86,87
7733,AT&T Labs Research; E-mail: suciu@research.att...,None,None,None,None,None,None,None,None,None
7112,AT&T Research,None,None,"AT&T Labs, Research",None,None,6764,None,None,81
7730,"AT&T Labs Research, 180 Park Avenue, Room E243...",None,None,None,None,None,None,None,None,None
6808,AT&T Laboratories,None,None,None,None,None,None,None,None,None
7710,"AT&T Labs-Research, 180 Park Avenue, Bldg. 103...",None,None,None,None,None,None,None,None,None
2240,AT&T Labs Inc.,None,None,None,None,None,None,None,None,None
7080,AT&T Labs---Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,86,90,86
1635,AT&T Labs,None,None,None,None,None,None,None,None,None
3142,AT&T Labs--Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,88,92,88
6259,"AT&T Laboratories - Research, Florham Park, NJ...",None,"AT & T Labs-Research, Florham Park, NJ",None,None,4168,None,None,81,None
7761,"AT&T Labs &ndash;&#8211; Research, 180 Park Av...",None,None,None,None,None,None,None,None,None
5865,"AT&T Labs - Research, Florham Park, NJ, USA",None,"AT & T Labs-Research, Florham Park, NJ","AT&T Labs, Florham Park, NJ, USA",None,4168,6156,None,89,85
9400,"AT&T Labs&mdash;&#8212;Research, Florham Park, NJ",None,None,None,None,None,None,None,None,None
7737,"AT&T Labs-Research, 180 Park Ave., Room E 233,...",None,None,None,None,None,None,None,None,None
8577,"AT&T Labs-Research, USA","AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,89,84,98
1702,AT&T Labs - Research,"AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,86,90,82
8034,"AT&T Labs--Research, NJ","AT&T Labs-Research, NJ",AT & T Labs-Research,"AT&T Labs--Research, USA",1456,4046,8024,98,84,89

In [37]:
matches_temp = list(set(list(zip(df["GroupA_id1"].index, df["GroupA_id1"].values)) + \
        list(zip(df["GroupB_id1"].index, df["GroupB_id1"].values)) + \
        list(zip(df["GroupC_id1"].index, df["GroupC_id1"].values))))

matches = []
for m in matches_temp:
    if m[0] is not None and m[1] is not None:
        matches.append(m)

In [38]:
len(matches)

739

In [39]:
matches

[(6026, 479),
 (8253, 9141),
 (135, 9779),
 (1037, 6673),
 (397, 467),
 (5820, 5900),
 (8359, 8814),
 (2990, 746),
 (8449, 7967),
 (7995, 8705),
 (2886, 2900),
 (34, 8306),
 (5562, 2838),
 (4136, 7967),
 (6024, 9266),
 (8027, 1090),
 (9148, 7038),
 (63, 8306),
 (1448, 597),
 (438, 7038),
 (8261, 9406),
 (4609, 3864),
 (6486, 8983),
 (2886, 6150),
 (1512, 8769),
 (7113, 3858),
 (6440, 6150),
 (1002, 5206),
 (5887, 6150),
 (130, 4406),
 (7992, 9505),
 (5818, 287),
 (45, 1982),
 (7624, 1456),
 (196, 8814),
 (3550, 7146),
 (2886, 8853),
 (4018, 287),
 (7579, 5772),
 (2031, 4737),
 (5938, 5936),
 (7153, 1704),
 (2765, 6481),
 (3308, 2226),
 (1303, 2625),
 (8004, 479),
 (5692, 2271),
 (8798, 6411),
 (20, 8532),
 (5757, 5803),
 (7023, 1180),
 (5656, 6254),
 (4139, 9039),
 (3485, 3078),
 (5107, 8289),
 (56, 9779),
 (2233, 7613),
 (6490, 8737),
 (2706, 6210),
 (5541, 2485),
 (9056, 8532),
 (1977, 352),
 (233, 9039),
 (5774, 6411),
 (6905, 7166),
 (1764, 4488),
 (5996, 6156),
 (1702, 8024),
 (1905, 8814),
 (6206, 9708),
 (466, 5206),
 (3302, 7970),
 (1360, 2835),
 (6709, 630),
 (8761, 8),
 (9458, 5491),
 (407, 8449),
 (30, 632),
 (8482, 9779),
 (1076, 287),
 (9725, 9524),
 (9240, 6156),
 (3297, 2401),
 (7695, 7712),
 (1017, 8170),
 (6386, 5905),
 (7948, 6847),
 (755, 8170),
 (2093, 2091),
 (7429, 1456),
 (4570, 2249),
 (1720, 8661),
 (749, 2485),
 (9139, 5905),
 (2271, 101),
 (189, 5518),
 (5873, 6320),
 (7867, 6847),
 (8301, 7038),
 (3142, 4046),
 (2899, 287),
 (6254, 5656),
 (1885, 5206),
 (8117, 9779),
 (7943, 6957),
 (8513, 7166),
 (6436, 6220),
 (2356, 38),
 (8361, 8876),
 (4163, 4095),
 (1872, 7579),
 (5583, 6254),
 (1702, 1456),
 (8359, 9779),
 (8837, 9305),
 (8682, 2838),
 (1824, 6957),
 (6135, 9399),
 (1856, 6150),
 (8479, 8306),
 (1342, 6254),
 (7882, 8769),
 (3695, 3856),
 (335, 6481),
 (144, 5772),
 (2419, 2226),
 (8701, 8661),
 (6321, 799),
 (6481, 8021),
 (18, 896),
 (9316, 8856),
 (567, 287),
 (9175, 4854),
 (6754, 6957),
 (212, 743),
 (6486, 8814),
 (265, 7038),
 (1216, 8769),
 (9374, 6402),
 (144, 7579),
 (6762, 6254),
 (9338, 6150),
 (4048, 9779),
 (56, 3856),
 (5632, 3126),
 (8355, 9505),
 (1583, 799),
 (8948, 4168),
 (2649, 7793),
 (8421, 299),
 (8198, 9794),
 (5771, 9432),
 (7987, 8814),
 (8021, 6481),
 (1022, 4406),
 (8129, 8165),
 (454, 1456),
 (2280, 8814),
 (736, 257),
 (20, 428),
 (787, 3078),
 (7908, 1640),
 (7621, 8814),
 (8377, 8170),
 (3297, 9432),
 (8069, 38),
 (7597, 8961),
 (428, 8532),
 (6231, 8392),
 (960, 6847),
 (3111, 1082),
 (34, 8532),
 (9138, 6042),
 (5537, 101),
 (3661, 563),
 (401, 5518),
 (6764, 1456),
 (8150, 8170),
 (8025, 2687),
 (532, 8661),
 (5541, 4875),
 (7055, 350),
 (9779, 8814),
 (767, 8021),
 (9362, 8170),
 (9273, 5803),
 (4046, 1456),
 (8830, 2688),
 (9432, 6411),
 (4696, 1353),
 (205, 8941),
 (199, 101),
 (3717, 2271),
 (3517, 7166),
 (7632, 1640),
 (9267, 8795),
 (7439, 2840),
 (8064, 9039),
 (9315, 8737),
 (7176, 2485),
 (5371, 6150),
 (320, 805),
 (2401, 6411),
 (8417, 5518),
 (5311, 6220),
 (2131, 2840),
 (4198, 9603),
 (8510, 887),
 (263, 6254),
 (8131, 8323),
 (1715, 6150),
 (1707, 3614),
 (3117, 4168),
 (7659, 4168),
 (2549, 8162),
 (8135, 8170),
 (5291, 5621),
 (5860, 5656),
 (3695, 9779),
 (101, 2271),
 (9791, 2838),
 (45, 9779),
 (3734, 2218),
 (2382, 1686),
 (9300, 630),
 (4875, 2485),
 (454, 8024),
 (222, 3524),
 (1579, 350),
 (1124, 3856),
 (1178, 4516),
 (8663, 743),
 (8694, 5621),
 (1474, 5621),
 (7176, 4875),
 (41, 4854),
 (7279, 7466),
 (8843, 6042),
 (633, 3856),
 (2401, 9432),
 (4013, 743),
 (2422, 287),
 (2634, 494),
 (8165, 8170),
 (6254, 8737),
 (6443, 8289),
 (9056, 8306),
 (1412, 6353),
 (1812, 1810),
 (2138, 2840),
 (1599, 5900),
 (1365, 3856),
 (9467, 8170),
 (3297, 6411),
 (4842, 604),
 (2901, 2835),
 (2037, 7036),
 (725, 6847),
 (1905, 6220),
 (8129, 8170),
 (563, 8705),
 (749, 2249),
 (9341, 6254),
 (1529, 2840),
 (8843, 5900),
 (6847, 8170),
 (1293, 8983),
 (2224, 7082),
 (272, 8),
 (1550, 8795),
 (7278, 296),
 (5771, 6411),
 (8024, 1456),
 (5795, 8),
 (7582, 7967),
 (6549, 6150),
 (9526, 9524),
 (3695, 1982),
 (919, 6402),
 (3223, 9231),
 (7080, 1456),
 (3205, 2249),
 (9383, 2331),
 (31, 7038),
 (3717, 101),
 (3016, 8983),
 (6210, 2706),
 (8696, 8769),
 (5599, 4095),
 (5240, 4488),
 (4792, 743),
 (3531, 9779),
 (8682, 9791),
 (1277, 4488),
 (8330, 8013),
 (1005, 3856),
 (6762, 8737),
 (6658, 6847),
 (548, 9794),
 (1572, 7036),
 (1977, 6481),
 (5889, 6210),
 (9237, 479),
 (388, 4488),
 (7112, 6764),
 (8584, 4406),
 (5158, 1982),
 (687, 7324),
 (3323, 2305),
 (263, 8737),
 (1096, 2838),
 (2838, 9791),
 (1715, 38),
 (8356, 8876),
 (1921, 8170),
 (8728, 3856),
 (37, 2840),
 (2485, 2249),
 (4445, 5905),
 (9373, 2331),
 (3391, 6320),
 (8135, 8165),
 (195, 9231),
 (5117, 2840),
 (1479, 9505),
 (7656, 882),
 (2685, 8323),
 (1387, 1810),
 (8705, 563),
 (3016, 8814),
 (4372, 5664),
 (7090, 287),
 (6490, 6254),
 (9251, 6386),
 (1836, 1090),
 (8085, 7917),
 (9465, 6042),
 (718, 425),
 (8377, 6847),
 (9210, 8021),
 (9465, 5900),
 (3485, 296),
 (5066, 2840),
 (5729, 5491),
 (9432, 2401),
 (4527, 3524),
 (771, 5518),
 (4751, 6353),
 (8950, 8532),
 (4490, 1982),
 (92, 3858),
 (2280, 9779),
 (5005, 5803),
 (8872, 2637),
 (538, 6496),
 (8614, 5206),
 (5562, 9791),
 (2964, 4168),
 (6048, 8289),
 (7943, 630),
 (8034, 4046),
 (3242, 4854),
 (6039, 743),
 (5542, 9779),
 (7600, 9791),
 (5640, 6220),
 (7621, 3856),
 (7429, 4046),
 (3731, 3503),
 (9341, 8737),
 (2480, 5997),
 (117, 8814),
 (7080, 8024),
 (7768, 8013),
 (3323, 7970),
 (8799, 6847),
 (56, 8814),
 (5843, 5900),
 (1507, 6042),
 (1853, 1350),
 (6723, 8013),
 (6233, 5772),
 (6280, 467),
 (5574, 2900),
 (8274, 2149),
 (237, 7930),
 (7094, 3858),
 (8644, 2401),
 (6709, 6957),
 (6740, 9505),
 (7582, 8449),
 (2927, 8941),
 (4048, 3856),
 (2839, 8429),
 (1016, 882),
 (5598, 896),
 (6435, 7565),
 (6990, 3858),
 (4456, 350),
 (1342, 8737),
 (3128, 369),
 (3202, 1982),
 (11, 8429),
 (319, 6320),
 (8737, 6254),
 (127, 287),
 (240, 428),
 (3659, 7038),
 (1081, 2271),
 (8645, 5772),
 (1017, 6847),
 (8577, 1456),
 (5771, 2401),
 (7904, 2838),
 (8066, 8165),
 (530, 6673),
 (9388, 8769),
 (1182, 5772),
 (3012, 1082),
 (428, 8306),
 (7889, 7958),
 (6821, 7930),
 (1872, 5772),
 (7240, 7967),
 (9211, 6481),
 (430, 8532),
 (8554, 7970),
 (6026, 6353),
 (1225, 7793),
 (5222, 4694),
 (26, 743),
 (4675, 7970),
 (4201, 3412),
 (1816, 9603),
 (117, 3856),
 (6423, 7579),
 (8069, 6150),
 (3142, 8024),
 (7607, 2149),
 (1726, 887),
 (394, 2688),
 (8034, 1456),
 (1194, 7428),
 (7793, 6510),
 (4236, 799),
 (1684, 882),
 (6259, 4168),
 (2360, 8814),
 (2322, 2401),
 (6436, 8814),
 (5800, 4158),
 (4866, 2249),
 (5657, 743),
 (2167, 1795),
 (8034, 8024),
 (6957, 6754),
 (627, 1336),
 (6367, 4168),
 (8950, 428),
 (1753, 8170),
 (2513, 6386),
 (547, 9603),
 (2416, 287),
 (3119, 2688),
 (4046, 8024),
 (767, 6481),
 (9201, 9141),
 (3200, 287),
 (4088, 287),
 (7080, 4046),
 (1345, 8876),
 (8479, 428),
 (52, 7324),
 (1184, 7036),
 (961, 3491),
 (2123, 7877),
 (5767, 6150),
 (4740, 4737),
 (5371, 2900),
 (8814, 9779),
 (727, 8769),
 (1974, 7036),
 (1702, 4046),
 (335, 352),
 (103, 1456),
 (5996, 4168),
 (5233, 8705),
 (3775, 563),
 (6873, 1082),
 (9139, 6386),
 (3486, 8814),
 (3136, 2838),
 (242, 4406),
 (5158, 9779),
 (3937, 7970),
 (2128, 9708),
 (7591, 2249),
 (3865, 6150),
 (1394, 604),
 (1682, 8170),
 (1109, 8532),
 (6918, 8013),
 (103, 4046),
 (3925, 8961),
 (8482, 1982),
 (2408, 7082),
 (7904, 9791),
 (240, 8306),
 (1402, 1013),
 (7689, 7970),
 (7, 2226),
 (9355, 9305),
 (1956, 1982),
 (2283, 8429),
 (192, 5518),
 (34, 428),
 (4748, 8),
 (6694, 5621),
 (6423, 5772),
 (8338, 630),
 (9211, 8021),
 (2205, 287),
 (1656, 9505),
 (1121, 7930),
 (103, 8024),
 (1385, 8983),
 (4865, 296),
 (2056, 4161),
 (5311, 8814),
 (8800, 8769),
 (5772, 7579),
 (8418, 296),
 (2360, 3856),
 (277, 2331),
 (8692, 5621),
 (5865, 4168),
 (5642, 2331),
 (9251, 5905),
 (6510, 7793),
 (4075, 743),
 (146, 5518),
 (8208, 8705),
 (1456, 8024),
 (196, 3856),
 (732, 8769),
 (5732, 4406),
 (805, 320),
 (2363, 9231),
 (1458, 6353),
 (8493, 4854),
 (4264, 4168),
 (3222, 5516),
 (9315, 5656),
 (3136, 9791),
 (9310, 1982),
 (8748, 597),
 (1019, 287),
 (8174, 7894),
 (4501, 4854),
 (3486, 3856),
 (3636, 3858),
 (9244, 1353),
 (8442, 350),
 (5704, 743),
 (7244, 1180),
 (8170, 6847),
 (2468, 2249),
 (1096, 9791),
 (2503, 6385),
 (9248, 2249),
 (6411, 9432),
 (5865, 6156),
 (8577, 4046),
 (3531, 7565),
 (7987, 9779),
 (8377, 8165),
 (1081, 101),
 (8306, 428),
 (2935, 479),
 (5172, 5232),
 (4009, 7324),
 (7942, 6957),
 (7240, 8449),
 (2249, 2485),
 (7578, 4095),
 (7592, 3858),
 (7624, 8024),
 (2418, 7324),
 (5777, 505),
 (436, 8),
 (89, 287),
 (9136, 9231),
 (5233, 5232),
 (1956, 9779),
 (1225, 6510),
 (3405, 1082),
 (15, 6150),
 (2485, 4875),
 (171, 5900),
 (72, 6402),
 (9414, 8255),
 (5837, 350),
 (8117, 7565),
 (4814, 2226),
 (8129, 6847),
 (4445, 6386),
 (6863, 630),
 (7139, 38),
 (1369, 287),
 (15, 2900),
 (7883, 630),
 (9210, 6481),
 (1415, 8876),
 (2071, 1103),
 (2061, 1686),
 (8532, 428),
 (8577, 8024),
 (516, 1810),
 (1365, 9779),
 (8644, 6411),
 (1753, 6847),
 (8940, 8941),
 (2513, 5905),
 (7600, 2838),
 (1292, 1309),
 (6093, 5900),
 (8586, 8795),
 (5256, 3858),
 (455, 6538),
 (1456, 4046),
 (257, 736),
 (5764, 9399),
 (81, 2149),
 (8798, 2401),
 (8254, 7648),
 (20, 2149),
 (9077, 8856),
 (1980, 7036),
 (1078, 743),
 (5571, 743),
 (570, 8876),
 (9055, 8289),
 (6435, 9779),
 (8024, 4046),
 (5774, 2401),
 (2587, 799),
 (6093, 8162),
 (8950, 8306),
 (681, 6150),
 (721, 5491),
 (5583, 5656),
 (7278, 3078),
 (9307, 8013),
 (9429, 350),
 (5723, 3524),
 (8170, 8165),
 (3243, 2149),
 (528, 3067),
 (1109, 428),
 (3142, 1456),
 (3244, 4854),
 (7967, 8449),
 (5715, 9141),
 (8338, 6957),
 (614, 5174),
 (9056, 428),
 (4048, 1982),
 (8266, 949),
 (7284, 8),
 (5905, 6386),
 (1990, 7146),
 (454, 4046),
 (7624, 4046),
 (5126, 5621),
 (8554, 2305),
 (6373, 7613),
 (1072, 4168),
 (9264, 4168),
 (135, 7565),
 (8135, 6847),
 (2, 9794),
 (1688, 6673),
 (2917, 632),
 (3993, 8449),
 (5692, 101),
 (3641, 7038),
 (1268, 5621),
 (806, 6320),
 (9376, 9231),
 (114, 2626),
 (3160, 5518),
 (3428, 5900),
 (5640, 8814),
 (3310, 2840),
 (8356, 8170),
 (3428, 6042),
 (8949, 8306),
 (8508, 9305),
 (70, 2226),
 (9480, 7789),
 (9327, 9492),
 (8997, 7324),
 (1124, 1982),
 (6411, 2401),
 (1390, 840),
 (8155, 2188),
 (1734, 6496),
 (7993, 2188),
 (915, 4516),
 (5337, 799),
 (1222, 8162),
 (2343, 8532),
 (1682, 6847),
 (5204, 4168),
 (742, 3858),
 (1124, 9779),
 (1255, 6042),
 (6764, 4046),
 (5703, 743),
 (966, 32),
 (6042, 8429),
 (3993, 7967),
 (7429, 8024),
 (3819, 632),
 (9593, 7036),
 (1769, 840),
 (8644, 9432),
 (8479, 8532),
 (8798, 9432),
 (7148, 7146),
 (9240, 4168),
 (1665, 505),
 (4136, 8449),
 (8728, 8814),
 (2467, 3856),
 (9467, 6847),
 (5068, 746),
 (8429, 6042),
 (363, 5656)]