In [1]:
# Libraries
import pandas as pd
from pandas import DataFrame
from nltk import edit_distance
from fuzzywuzzy import fuzz
from datetime import datetime
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
import itertools
import numpy as np

In [2]:
from nltk.corpus import stopwords

In [3]:
# Get data
# df = pd.read_csv("cust10k.csv", delimiter="|")
file = "./affiliationstrings/affiliationstrings_ids.csv"
df = pd.read_csv(file, index_col=0)
df.columns=["entityname"]

In [4]:
df.head()

                                             entityname
id1
7927  , IBM Almaden Research Center, 650 Harry Road,...
7930                                       , IIT Bombay
7987         , University of California, San Diego, USA
5613                   28msec Inc., Zurich, Switzerland
9530                                       28msec, Inc.

In [5]:
df.loc[8544]

entityname    Department of Computer Engineering, Kyungpook ...
Name: 8544, dtype: object

In [6]:
df.shape

(2260, 1)

In [8]:
df.columns = ["entityname_original"]

In [9]:
df.head()

                                    entityname_original
id1
7927  , IBM Almaden Research Center, 650 Harry Road,...
7930                                       , IIT Bombay
7987         , University of California, San Diego, USA
5613                   28msec Inc., Zurich, Switzerland
9530                                       28msec, Inc.

In [19]:
# Stopword removal and lowercase conversion
stop = stopwords.words("english")
df["entityname"] = df["entityname_original"].apply(lambda x: " ".join(word for word in x.lower().split(" ") if word not in stop))

In [23]:
df.sample(5)

,entityname_original,entityname
id1,,
1533,"Department of Computer Science, Brandeis Unive...","department computer science, brandeis universi..."
8314,"The MITRE Corporation, McLean, VA","mitre corporation, mclean, va"
8612,Department of Computer Science and Engineering...,"department computer science engineering, hong ..."
8931,"IBM Haifa Research Lab, Haifa, Israel","ibm haifa research lab, haifa, israel"
8841,"National ICT Australia, Australian Technology ...","national ict australia, australian technology ..."

In [ ]:
def setup():
    # Add a column to store grouping
    df["GroupA"] = None
    df["GroupB"] = None
    df["GroupC"] = None
    df["GroupD"] = None
    df["GroupE"] = None
    df["GroupF"] = None
    df["GroupG"] = None
    df["GroupH"] = None
    df["GroupI"] = None
    df["GroupJ"] = None
    df["GroupA_id1"] = None
    df["GroupB_id1"] = None
    df["GroupC_id1"] = None
    df["GroupD_id1"] = None
    df["GroupE_id1"] = None
    df["GroupF_id1"] = None
    df["GroupG_id1"] = None
    df["GroupH_id1"] = None
    df["GroupI_id1"] = None
    df["GroupJ_id1"] = None
    df["GroupA_score"] = None
    df["GroupB_score"] = None
    df["GroupC_score"] = None
    df["GroupD_score"] = None
    df["GroupE_score"] = None
    df["GroupF_score"] = None
    df["GroupG_score"] = None
    df["GroupH_score"] = None
    df["GroupI_score"] = None
    df["GroupJ_score"] = None

In [ ]:
setup() # RUN THIS FIRST!!!

In [ ]:
groups = ["GroupA", "GroupB", "GroupC", "GroupD", "GroupE", "GroupF", "GroupG", "GroupH", "GroupI", "GroupJ"]

for g in groups:
    print(f"Starting: {g}")
    print("=" * 72)
    initial = datetime.now()
    df = df.sample(frac=1)
    # indices of names for looping
    list_idx = [idx for idx in df.index]
    
    # Loop through names
#     num_records = 100 # restrict for debug
#     for idx in list_idx[:num_records]: # restrict for debug
    
    for idx in list_idx:
#         print("-" * 72)
        current_name = df.loc[idx]['entityname']
#         print(f"idx:{idx} name to compare: {current_name}")
        
    
        if df.loc[idx][g] is None:
            idx_to_compare = list_idx[list_idx.index(idx)+1:]
            for i in idx_to_compare:
                if df.loc[i][g] is None:
                    compare_name = df.loc[i]["entityname"]
                    similarity_score = fuzz.ratio(current_name, compare_name)
                    if similarity_score > 90:
    #                     print(f"Similarity score:{similarity_score}")
                        df.loc[df.index == i, g] = current_name
                        df.loc[df.index == i, g+"_score"] = similarity_score
                        df.loc[df.index == i, g+"_id1"] = idx
#         else:
#             print(f"{current_name} already matched. Skipping.")
    
    
    
    final = datetime.now()
    total_time = final - initial
    print("=" * 72)
    print(f"Group {g} total time: {total_time}")

print("Saving groups...")
df.to_csv("edit_dist_dedup_groups.csv")
print("Save complete!")

In [ ]:
# group = "GroupA"
# print(f"Number of matches: {df[group].value_counts().sum()}")
# print(f"Number of groups: {len(df[group].unique())}")
# df[group].value_counts()[:10]

In [ ]:
# df.loc[df["entityname"].str.contains("AT&T")].head()

Remove duplicate permutations of tuples:

https://stackoverflow.com/questions/15352995/removing-permutations-from-a-list-of-tuples

In [ ]:
matches_temp = list(set(list(zip(df["GroupA_id1"].index, df["GroupA_id1"].values)) + \
        list(zip(df["GroupB_id1"].index, df["GroupB_id1"].values)) + \
        list(zip(df["GroupC_id1"].index, df["GroupC_id1"].values)) + \
        list(zip(df["GroupD_id1"].index, df["GroupD_id1"].values)) + \
        list(zip(df["GroupE_id1"].index, df["GroupE_id1"].values)) + \
        list(zip(df["GroupF_id1"].index, df["GroupF_id1"].values)) + \
        list(zip(df["GroupG_id1"].index, df["GroupG_id1"].values)) + \
        list(zip(df["GroupH_id1"].index, df["GroupH_id1"].values)) + \
        list(zip(df["GroupI_id1"].index, df["GroupI_id1"].values)) + \
        list(zip(df["GroupJ_id1"].index, df["GroupJ_id1"].values))))

matches = []
for m in matches_temp:
    if m[0] is not None and m[1] is not None:
        matches.append(m)

# Remove permutation duplicates
matches = list(set(tuple(sorted(t)) for t in matches))

In [ ]:
len(matches)

In [ ]:
matches[:10]

In [ ]:
df_matches = pd.DataFrame(matches)
df_matches.columns = ["entityid1", "entityid2"]
# df_matches.set_index("entityid1", inplace=True)
df_matches["match_string"] = df_matches.apply(lambda row: str(row["entityid1"])+"|"+str(row["entityid2"]), axis=1)
df_matches.head()

In [ ]:
# Get ground truth
file = "./affiliationstrings/affiliationstrings_mapping.csv"
df_truth = pd.read_csv(file, index_col=0, header=None, names=["entityid1", "entityid2"])

In [ ]:
truth_tuples = list(df_truth.reset_index().to_records(index=False))
truth_unique = list(set(tuple(sorted(t)) for t in truth_tuples))
truth_unique[:10]

In [ ]:
len(truth_unique)

In [ ]:
df_truthunique = pd.DataFrame(truth_unique)
df_truthunique.columns = ["entityid1", "entityid2"]
# df_truthunique.set_index("entityid1", inplace=True)
df_truthunique["match_string"] = df_truthunique.apply(lambda row: str(row["entityid1"])+"|"+str(row["entityid2"]), axis=1)
df_truthunique.head()

In [ ]:
matches_list = list(df_matches["match_string"])
truth_list = list(df_truthunique["match_string"])

In [ ]:
len(matches_list)

In [ ]:
good_matches = []
for m in matches_list:
    if m in truth_list:
        good_matches.append("Good match")
    else:
        good_matches.append("Bad match")

In [ ]:
len(good_matches)

In [ ]:
df_matches["GoodBad"] = good_matches

In [ ]:
df_matches.head()

In [ ]:
df_matches["GoodBad"].value_counts()

In [ ]:
found_truth = []
for m in truth_list:
    if m in matches_list:
        found_truth.append("Found")
    else:
        found_truth.append("Not found")

In [ ]:
len(found_truth)

In [ ]:
df_truthunique["Found"] = found_truth

In [ ]:
df_truthunique.head()

In [ ]:
df_truthunique["Found"].value_counts()

### Use NetworkX to generate connected components

In [ ]:
import networkx as nx

In [ ]:
G = nx.Graph()
G.add_edges_from(matches)

In [ ]:
fig = plt.figure(figsize=(15,15), facecolor="black")
ax = nx.draw_networkx(G,
                      with_labels=True,
                      node_size=1,
                      alpha=1,
                      pos=nx.kamada_kawai_layout(G),
#                       pos=nx.spring_layout(G),
                      edge_color="silver",
                      node_color="silver",
                     font_size=12,
                     font_color="white")
plt.axis("off")
plt.tight_layout()
plt.suptitle("Matches - Connected Components", fontsize=20, color="white")
plt.show()

In [ ]:
# Print pair of entities
print(df.loc[41]["entityname"])
print(df.loc[51]["entityname"])

In [ ]:
# Current score for a pair that was not found
fuzz.ratio("Hong Kong University of Science and Technology, China",
          "The Hong Kong University of Science and Technology, Hong Kong, China")

In [ ]:
# Same pair as above but with stopword removal
fuzz.ratio("Hong Kong University Science Technology China",
          "Hong Kong University Science Technology Hong Kong China")

In [ ]:
# Connected component subgraphs
cc_subgraphs = list(nx.connected_components(G))

In [ ]:
len(cc_subgraphs)

In [ ]:
# list(cc_subgraphs[1])

In [ ]:
# Generate all matching pairs based on connected components
match_pairs = []
for subgraph in cc_subgraphs:
    cc = list(subgraph)
    cc.sort()
    combos = list(itertools.combinations(cc, 2))
    for c in combos:
        match_pairs.append(c)
#     print(combos)
#     print("-"*72)

In [ ]:
len(match_pairs)

In [ ]:
match_pairs[:10]

In [ ]:
df_ccmatches = pd.DataFrame(match_pairs)
df_ccmatches.columns = ["entityid1", "entityid2"]
df_ccmatches["match_string"] = df_ccmatches.apply(lambda row: str(row["entityid1"])+"|"+str(row["entityid2"]), axis=1)
df_ccmatches.head()

In [ ]:
df_ccmatches.shape

In [ ]:
ccmatches_list = list(df_ccmatches["match_string"])

In [ ]:
good_ccmatches = []
for m in ccmatches_list:
    if m in truth_list:
        good_ccmatches.append("Good match")
    else:
        good_ccmatches.append("Bad match")

In [ ]:
df_ccmatches["GoodBad"] = good_ccmatches

In [ ]:
df_ccmatches.head()

In [ ]:
df_ccmatches["GoodBad"].value_counts()

In [ ]:
found_good_matches = list(df_ccmatches.loc[df_ccmatches["GoodBad"]=="Good match"]["match_string"])

In [ ]:
truth_not_found = []
for t in truth_list:
    if t not in found_good_matches:
        truth_not_found.append(t)
print(f"Number of truths not found: {len(truth_not_found)}")

In [ ]:
found_good_matches[:10]

<div style="background-color:black; color:white;">
    <h3>Results with 3 groups and threshold at 75 (no stopword removal)</h3>
    <hr>
    <ul>
        <li>Bad match     221405</li>
        <li>Good match     7261</li>
    </ul>
</div>

<div style="background-color:black; color:white;">
    <h3>Results with 3 groups and threshold at 80  (no stopword removal)</h3>
    <hr>
    <ul>
        <li>Bad match     15725</li>
        <li>Good match     4719</li>
    </ul>
</div>

<div style="background-color:black; color:white;">
    <h3>Results with 3 groups and threshold at 85  (no stopword removal)</h3>
    <hr>
    <ul>
        <li>Bad match     2253</li>
        <li>Good match     2706</li>
    </ul>
</div>

<div style="background-color:black; color:white;">
    <h3>Results with 3 groups and threshold at 90  (no stopword removal)</h3>
    <hr>
    <ul>
        <li>Bad match     165</li>
        <li>Good match     1339</li>
    </ul>
</div>

In [ ]:
labels=[75,80,85,90]
x=[7261,4719,2706,1339]
y=[221405,15725,2253,165]

fig, ax = plt.subplots(figsize=(10,5))
ax.scatter(x=x, y=y)

for i, txt in enumerate(labels):
    ax.annotate(txt, (x[i], y[i]))

# plt.axis("equal")
# plt.xlim(left=0, right=max(y))
plt.title("Impact of fuzz.ratio threshold on results with 3 groups")
plt.xlabel("Good matches")
plt.ylabel("Bad matches")
plt.grid()

<div style="background-color:black; color:white;">
    <h3>Results with 10 groups and threshold at 90  (no stopword removal)</h3>
    <hr>
    <ul>
        <li>Bad match     218</li>
        <li>Good match     1608</li>
    </ul>
</div>